{include file="../application/admin/view/common/header.html" /}
<!-- Site wrapper -->
<div class="wrapper">

    {include file="../application/admin/view/common/header_main.html" /}
    {include file="../application/admin/view/common/sidebar.html" /}

    <!-- Content Wrapper. Contains page content -->
    {include file="../application/admin/view/index/cont.html" /}
    
    <!-- /.content-wrapper -->

    {include file="../application/admin/view/common/footer_main.html" /}
    {include file="../application/admin/view/common/setting.html" /}

    <!-- Add the sidebar's background. This div must be placed
         immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->
{include file="../application/admin/view/common/footer.html" /}
