{include file="../application/admin/view/common/header.html" /}
<!-- Site wrapper -->
<div class="wrapper">

    {include file="../application/admin/view/common/header_main.html" /}
    {include file="../application/admin/view/common/sidebar.html" /}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                我的文章
                <small>article</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> 主面板</a></li>
                <li><a href="#">分类管理</a></li>
                <li class="active">我的文章</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box box-info">
<!--                        <div class="box-header">
                            <h3 class="box-title">Hover Data Table</h3>
                        </div>-->

                        <div class="box-body" >
                            <form role="form">
                                <div class="col-xs-2">
                                    <div class="input-group">
                                        <span class="input-group-addon">标题</span>
                                        <input type="text" class="form-control" placeholder="" name="title" value="{:isset($params['title'])?$params['title']:''}">
                                    </div>
                                </div>
                                <div class="col-xs-2">
                                    <div class="input-group">
                                        <span class="input-group-addon">别名</span>
                                        <input type="text" class="form-control" placeholder="" name="slug" value="{:isset($params['slug'])?$params['slug']:''}">
                                    </div>
                                </div>

                                <div class="col-xs-2">
                                    <button type="submit"   class="btn btn-primary  ">查询</button>
                                </div>
                                <div class="col-xs-offset-5 col-xs-1">
                                    <a   class="btn btn-info" style="float: right;">我要发布</a>
                                </div>
                            </form>

                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>标题</th>
                                        <th>分类</th>
                                        <th>日期</th>
                                        <th>编辑</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {volist name="data" id="vo"}
                                    <tr id="tr_{$vo.id}">
                                        <td>{$vo.id}</td>
                                        <td>{$vo.title}</td>
                                        <td>{$vo.category_id}</td>
                                        <td>{$vo.addtime}</td>
                                        <td>
                                            <a href="{:url('admin/category/read', 'id='. $vo['id'])}"><i class="fa fa-fw fa-pencil"></i>编辑</a> | 
                                            <a href="###" onclick="doDelete({$vo.id});"><i class="fa fa-fw fa-remove"></i>删除</a> 
                                        </td>
                                    </tr>
                                    {/volist}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>ID</th>
                                        <th>标题</th>
                                        <th>别名</th>
                                        <th>time</th>
                                        <th>
                                            编辑
                                        </th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>


    <!-- /.content-wrapper -->

    {include file="../application/admin/view/common/footer_main.html" /}
    {include file="../application/admin/view/common/setting.html" /}

    <!-- Add the sidebar's background. This div must be placed
         immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->


{include file="../application/admin/view/common/footer.html" /}

<!-- page script -->
<script>
    var _data = {:json_encode($data)}
    ;
    $(function () {
    // $('#example1').DataTable()
    $('#example2').DataTable({
    'paging': true,
            'lengthChange': false,
            'searching': false,
            'ordering': false,
            'info': true,
            'autoWidth': true,
            "pageLength": 15,
            "language": {
            "paginate": {
            "previous": '上一页',
                    "next": "下一页"
            }
            }
    });
    });
    function doDelete(id){
        layer.confirm('确定删除吗?',{icon: 3, title:'提示'}, function(idx){
            $.ajax({
            type:'post',
                url: "{:url('admin/category/delete')}",
                data:{id: id},
                dataType:'json',
                success:function(D){
                    if(D.status == 1){
                        $('#tr_'+id).remove();
                    }else{
                        layer.alert(D.message);
                    }
                }
            });
            layer.close(idx);
        });
    }
</script>
</body>
</html>